<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:9%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText"> Je me suis reprochée, sans raisons, d’être responsable quand les choses allaient mal </h3>
	<ion-list>
	  <ion-checkbox ng-click="moreLess()">
	  Non, pas du tout
	  </ion-checkbox>
	      <ion-checkbox ng-click="less()">
	  	Presque jamais
	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Oui, parfois
	  </ion-checkbox>
 	   <ion-checkbox ng-click="besser()">
  	  Oui, très souvent
  	  </ion-checkbox>	
	</ion-list>
   </ion-content>
</ion-view>
