<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">  Question 11  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je travaille aussi facilement qu’auparavant.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Il me faut faire un effort supplémentaire pour commencer à faire quelque chose.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	 Il faut que je fasse un très grand effort pour faire quoi que ce soit.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Je suis incapable de faire le moindre travail.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>