<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText"> Question 10  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je n’ai pas le sentiment d’être plus laide qu’avant.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	J’ai peur de paraître vieille ou disgracieuse.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  J’ai l’impression qu’il y a un changement permanent dans mon apparence physique, qui me fait paraître disgracieux.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  J’ai l’impression d’être laid et repoussant.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>