<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">  Question 12  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je ne suis pas plus fatigué que d’habitude.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Je suis fatigué plus facilement que d’habitude.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	 Faire quoi que ce soit me fatigue.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Je suis incapable de faire le moindre travail.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>