<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">  Question 13  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Mon appétit est toujours aussi bon.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Mon appétit n’est pas aussi bon que d’habitude. 
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	 Mon appétit est beaucoup moins bon maintenant.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Je n’ai plus du tout d’appétit. 
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>