<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText"> Question 3 </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je n’ai aucun sentiment d’échec de ma vie.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	J’ai l’impression que j’ai échoué dans ma vie plus que la plupart des gens. 
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  	Quand je regarde ma vie passée, tout ce que j’y découvre n’est qu’échecs.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  J’ai un sentiment d’échec complet dans toute ma vie personnelle (dans mes relations avec mes parents, mon mari, ma femme mes enfants).
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>