<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText"> Question 4 </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je ne me sens pas particulièrement insatisfait.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  Je ne sais pas profiter agréablement des circonstances. 
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  	Je ne tire plus aucune satisfaction de quoi que ce soit.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Je suis mécontent de tout.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>