<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText"> Question 5  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je ne me sens pas coupable. 
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Je me sens mauvais ou indigne une bonne partie du temps.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  	Je me sens coupable.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Je me juge très mauvais, et j’ai l’impression que je ne vaux rien.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>