<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText"> Question 6  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je ne suis pas déçue par moi-même.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Je suis déçue par moi-même.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  	Je me dégoûte moi-même.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Je me hais. 
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>