<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">  Question 7  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je ne pense pas à me faire du mal.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Je pense que la mort me libèrerait.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  	J’ai des plans précis pour me suicider.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  Si je le pouvais, je me tuerais.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>