<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:3%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">  Question 8  </h3>
	<ion-list>
 	   <ion-checkbox ng-click="besser()">
  	  	Je n’ai pas perdu l’intérêt pour les autres gens.
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="usual()">
	  	Maintenant je m’intéresse moins aux autres gens qu’autrefois.
	  </ion-checkbox>
	    <ion-checkbox ng-click="less()">
	  	J’ai perdu tout l’intérêt que je portais aux gens et j’ai peu de sentiments pour eux.
	  </ion-checkbox>
	  <ion-checkbox ng-click="moreLess()">
	  J’ai perdu tout l’intérêt pour les autres, et ils m’indiffèrent totalement.
	  </ion-checkbox>
	</ion-list>
   </ion-content>
</ion-view>