<ion-view name=eat>
<ion-content>
    <div class="progressingDiv">
    <div class="progressingInsideDiv" style="width:6%;"><p class="transparentText">t </p></div></div>
  </ion-content> 
  <ion-content class="containQuestion">
 
     <h3 class="questionText">  Je m’imagine appeler le bébé par son prénom </h3>
	<ion-list>
 	   <ion-checkbox ng-click="never()">
  	  	Presque jamais
  	  </ion-checkbox>
  	  	  <ion-checkbox ng-click="sometimes()">
	  	Parfois
	  </ion-checkbox>
	    <ion-checkbox ng-click="often()">
	  	Souvent
	  </ion-checkbox>
	  <ion-checkbox ng-click="always()"> Presque toujours
	  </ion-checkbox>
	

 
	</ion-list>
   </ion-content>
</ion-view>